[submodule "excons"]
	path = excons
	url = https://github.com/gatgui/excons
[submodule "llvm"]
	path = llvm
	url = https://github.com/sol-ansano-kim/llvm
[submodule "oiio"]
	path = oiio
	url = https://github.com/sol-ansano-kim/oiio.git
[submodule "openexr"]
	path = openexr
	url = https://github.com/gatgui/openexr
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/gatgui/zlib.git
